
table {
	border-style: solid;
	border-width: 1px;
	border-color: #000;
    border-collapse: collapse;
}
tr,td {
	width: 64px;
	height: 64px;
}
tr:nth-child(even) td:nth-child(even) {
	background-color: #FFF;
}
tr:nth-child(even) td:nth-child(odd) {
	background-color: #000;
}
tr:nth-child(odd) td:nth-child(even) {
	background-color: #000;
}
tr:nth-child(odd) td:nth-child(odd) {
	background-color: #FFF;
}